h5 {
  margin: 0;
  padding: 0;
}
#users {
  display: flex;
}
#filter {
  border: 1px solid #505b68;
  background-color: antiquewhite;
  color: #505b68;
}
.user {
  flex: 1;
  margin: 0 5px;
  padding: 5px;
  background-color: #505b68;
  border-radius: 5px;
  border: 1px solid antiquewhite;
  color: antiquewhite;
}

